name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 16.16.96.232
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu
            if [ ! -d "kins-CRM" ]; then
              git clone https://github.com/otahir-21/kins-CRM.git
            fi
            cd kins-CRM
            git pull origin main
            npm install
            npm run build
            pm2 restart kins-api || pm2 start server.js --name kins-api
